/* =GENERAL - the general styles */
	body {
		font: 62.5%/2.2em "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
		color: #4b4942;
		background: #fff;
	}
	
  a {
	  text-decoration: none;
	  color: #5599a7;
	}
	
	a:hover {
	  color: #bb800f;
	}
	
	hr {
	  display: none;
	}
	
	strong {
	  font-weight: bold;
	}
	
	#center ul,
	#right ul {
	  margin: 5px 0 5px 20px;
	}
	
	#center ul li,
	#right ul li {
	  list-style: square;
	}
	
	#center ul.links {
	  margin: 0;
	}
	
	ul.borderedlist li {
		border-bottom: 1px dashed #d1cfcd;
	}
	
	ul.borderedlist li a {
		display: block;
		padding: 3px 0 0 2px;
		height: 26px;
		color: #42423b;
	}
	
	ul.borderedlist li a:hover {
	  background: #E5E5E4;
	  color: #42423b;
	}
	
	#left input.form-text,
	#right input.form-text,
	#bottom input.form-text,
  #left textarea.form-textarea,
  #right textarea.form-textarea,
  #bottom textarea.form-textarea,
  #left select,
  #right select,
  #bottom select {
		padding: 3px 5px;
		border: 4px solid #5599A7;
	}
	
	#left input.form-submit,
	#right input.form-submit, 
	#bottom input.form-submit {
		line-height: 1em;
		text-align: center;
		background: #659AA6;
		border: 4px solid #fff;
		color: #fff;
		cursor: pointer;
		margin: 5px 0;
		padding: 3px 8px; /* IE6 */
	}

/* =LAYOUT - the main layout styles */
	.container,
	.three-container {
		width: 950px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	
	.three-container {
	  width: 968px;
	}
	
	/* header layout */
	#header {
		height: 253px;
		background: #4a4841 url('../images/top_bg.jpg') top repeat-x;
		position: relative;
	}
	
	#header ul.primary-links {
		position: absolute;
		right: 0;
		top: 20px;
	}
	
	#header ul.primary-links li {
	  float: left;
    font-size: 1.3em;
    font-weight: normal;
    padding: 0 0.5em;
    padding-right: 27px;
    text-transform: uppercase;
	}
	
	#header ul.primary-links li a {
	  color: #fff;
	}
	
	#header ul.primary-links li a:hover,
	#header ul.primary-links li.active a {
	  color: #2C2C2C;
	}
	
	/* main area layout */
	#main {
	  padding:24px 0 20px 0;
	}
	
	#left {
	  float: left;
	  width:193px;
	}
	
	/* bottom layout */
	#bottominfo {
		border-top: 5px solid #42423b;
		background: #f1eee7;
		padding-bottom: 25px;
		width: 100%;
		overflow: hidden;
	}
	
	.bottomcolumn {
		float: left;
		width: 288px;
		margin-right: 18px;
	}
	
	.bottomright {
	  margin-right:0;
	}
	
/* =HEADER - the header styles */
	#header .container {
	  height: 253px;
	}
	
	/* logo */
	#header h1 {
		position: absolute;
		height: 71px;
		top: 15px;
	}
	
	#header h1 a {
		font: 24px/24px Arial, Helvetica, sans-serif;
		font-weight: bold;
		letter-spacing: -2px;
		padding: 22px 9px 25px 20px;
		display: block;
		color: #fff;
		background: url('../images/logo_bg.gif') left top no-repeat;
	}
	
	#header h1 a:hover {
	  color: #fff;
	}
	
	#header h1 a span {
		height: 71px;
		width: 13px;
		position: absolute;
		top: 0;
		right: -13px;
		cursor: pointer;
		background: url('../images/logo_right.gif') right top no-repeat;
	}
	
	/* top navigation */
	#navigation li {
		float: left;
		padding-right: 27px;
		text-transform: uppercase;
		font-size: 1.3em;
		font-weight: normal;
	}
	
	#navigation li a {
	  color: #fff;
	}
	
	#navigation li a:hover,
	#navigation li.active a {
	  color: #2c2c2c;
	}
	
	/* message and building pic */
	#banner {
		position: absolute;
		height: 125px;
		color: #a49c8f;
		font-weight: bold;
		padding:0 440px 0 7px;
		bottom: 0;
		background: url('../images/building.gif') right bottom no-repeat;
		font-size: 1.3em;
	}
	
/* =CONTENT - the content styles */
	/* left column */
	#left .block .content {
	  background: #f1f0ef;
	  padding: 10px 15px;
	  margin-bottom: 3px;
	  line-height: 1.8em;
	  font-size: 1.2em;
	}
	
	#left ul {
	  background: #f1f0ef;
	  color: #42423B;
    display: block;
    line-height: 1.5em;
	}
	
	#left ul li {
	  list-style: none;
	  border-bottom: 1px dashed #D1CFCD;
	  line-height: 1.8em;
	}
	
	#left ul li.first {
	  border-top: 1px dashed #D1CFCD;
	}
	
	#left ul li a:hover {
    color: #42423B;
	}
	
	#left ul li.expanded {
	  margin-left: 10px;
	}
	
	#left .block {
		margin-bottom: 20px;
	}
	
	#left h2 {
	  font: 1.27em Arial, Helvetica, sans-serif;
	  color: #8c8685; 
	  background: #f1f0ef url('../images/h3_bg_tall.jpg') 0 0 repeat-x;
	  padding: 5px 0 10px 15px;
	  margin-bottom: 3px;
	  line-height: 1.8em;
	  font-size: 1.9em;
	}
	
	/* center column */
	#center {
	  padding-bottom: 10px;
	  font-size: 1.3em;
	  float: left;
	  width: 430px;
	  padding: 0 20px;
	}
	
	#center h1,
	h1.title,
	#center h2 {
	  color: #5699A7; 
	  font-size: 2em;
	  margin: 10px 0;
	  line-height: auto;
	}
	
	#center .node,
	#center .comment {
	  border-bottom: 1px dashed #D1CFCD;
	  margin-bottom: 10px;
	  padding-bottom: 5px;
	}
	
	#center .comment {
	  background: #F1F0EF;
	  border-top: 1px dashed #D1CFCD;
	  padding: 5px;
	}
	
	.timestamp {
	  color: #8C8685;
	}
	
	#center blockquote {
    border: 1px dashed #D1CFCD;
    font-size: 1.4em;
    margin: 10px;
    padding: 5px;
    text-align: center;
	}
	
	#center .messages, 
	#center .status {
	  font-weight: bold;
    border: 1px dashed #D1CFCD;	
    padding: 5px;
  }
	
	li.comment_comments,
	li.comment_add {
	  float: left;
	}
	
	li.node_read_more {
	  float: right;
	}
	
	/* right column */
	#right {
	  float: right;
    width: 287px;
	}
	
	#right .block {
		background: #eeeded;
		padding: 5px;
		margin-bottom: 20px;
		width: 277px;
		overflow: hidden;
		font-size: 11px;
		line-height: 18px;
		color: #58584D;
	}
	
	#right .block-wrapper {
	  border: 1px dashed #d9e0e8;
	  overflow: hidden;
	  padding: 6px;
	}
	
	#right .block h2 {
	  font-size: 1.3em;
	  color: #483F3D;
	  font-weight: bold;
	  margin-bottom: 5px;
	}
	
	.lastbox {
	  margin:0;
	}
	
/* =BOTTOM */
  #bottominfo {
    /* padding: 10px 35px 10px 5px; */
		font-size: 1.2em;
  }
  
  #bottominfo .three-container .block {
    float: left;
    margin-right: 21px;
    width: 300px;
  }

	#bottominfo h2 {
		border-bottom: 4px solid #9b968f;
		color: #5699A7; 
		font-size: 18px;
		padding: 15px 0 5px 5px;
	}
	
	#bottominfo ul {
	  color: #42423B;
    display: block;
    line-height: 1.5em;
    margin: 5px 0;
	}
	
	#bottominfo ul li {
	  list-style: none;
	  border-bottom: 1px dashed #D1CFCD;
	  line-height: 1.8em;
	  padding-left: 5px;
	}
	
	#bottominfo ul li.first,
	#bottominfo ul {
	  border-top: 1px dashed #D1CFCD;
	}
	
	#bottominfo ul li a:hover {
    color: #42423B;
	}
	
	#bottominfo ul li.expanded {
	  margin-left: 10px;
	}
	
	.iconlist {
		border-top: 1px dashed #d1cfcd;
		font-size: 1.2em;
	}
	
	ul.iconlist li a {
		padding-left: 25px;
		background: url('../images/footer_list.jpg') left bottom no-repeat;
	}
	
	ul.iconlist  li a:hover {
	  background: #E9E4DE url('../images/footer_list.jpg') left top no-repeat;
	  color: #42423b;
	}
	
/* FOOTER */
	#footer {
		height: 37px;
		background: #4a4841 url('../images/footer_bg.jpg') 0 0 repeat-x;
		font-size: 1.2em;
	}
	
	#footer a {
	  color: #A39D97;
	}
	
	#designby {
		background: url('../images/logo.gif') 0 0 no-repeat;
		float: left;
		height: 23px;
		padding: 2px 0 0 30px;
		margin-top: 5px;
	}
	
	#footer ul.secondary-links {
		float: right;
		padding-top:7px;
	}
	
	#footer ul.secondary-links li {
	  float: left;
	  padding-left:18px;
	}
	
	#footer ul.secondary-links li a {
	  text-transform:uppercase;
	}
	
	#footer-links ul.secondary-links li a:hover {
	  color: #5699A7;
	}