/*
System CSS Reset for Drupal
Created by Theresa Summa http://theresaanna.com
Licensed under the GPL http://www.gnu.org/copyleft/gpl.html
*/

#user-login-form {
  text-align: left;
}

.form-item label {
  font-weight: normal;
}

.block ul,
.item-list ul,
.item-list ul li,
.form-item,
.form-checkboxes,
.form-radios,
fieldset,
ul.menu,
ul.menu li,
ul.links,
ul.links li {
  margin: 0;
  padding: 0;
}
